.layui-footer {
    text-align: center;
}
.icon {
    margin-right: 8px;
}
.layui-icon {
    margin-right: 8px;
    margin-left: 20px;
}

iframe {
    width: 100%;
    height: 100%;
}

/* 头像区域 */
/* 图片头像 */

/* 图片头像的大小 img */
.layui-nav-img {
    width: 40px;
    height: 40px;
}
/* 头像外围盒子 */
.user-info-box {
    width: 220px;
    height: 60px;
    line-height: 60px;
    text-align: center;  
}
/* 单独给左侧头像盒子加边框 */
.layui-side-scroll .user-info-box {
    border-bottom: 2px solid #282b33;
    border-top: 2px solid #282b33;
}
/* 文字头像 */
.avator {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    text-align: center;
    line-height: 40px;
    /* 文字不倾斜 */
    font-style: normal;
    border-radius: 50%;
    background-color: #009688;
    color: #fff;
}
/* 欢迎你 */
#welcome {
        /* 不希望文本能够被选中 */
        user-select: none;
}
